.mr {
  background-color: rgba(240, 128, 128);
}
.ram {
  font-weight: bold;
  text-align: center;
  background-color: darkslategrey;
  width: 35%;
  margin-left: 35%;
  margin-top: 16%;
  border-radius: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif
  
}
.input {
  padding-top: 1%;
  border-radius: 50px;
  font-weight: bold;
}
.raj {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color:black;
  padding-bottom: 1%;
  margin-left: 10%;
  margin-bottom: 2%;
  margin: 2px;
  border-radius: 7px;
}
