.div {
  text-align: center;
  padding: 3%;
  margin-left: 35%;
  margin-top: 10%;
  border: 2px solid black;
  width: 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  background-color:rgb(57, 158, 57)
}
.micky {
background-color: black;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.ra {
  font-size: large;
  border-radius: 8px;
  color:white;
  background-color: black;
}
